[Unit]
Description=AppRTC turnserver
 
[Service]
Type=forking
ExecStart=/var/www/facepass/webrtc/services/turnserver/start.sh 
StandardOutput=null
Restart=always
 
[Install]
WantedBy=multi-user.target
Alias=turnserver.service
